<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jdbc="http://www.springframework.org/schema/jdbc" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:jee="http://www.springframework.org/schema/jee"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
		http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc-4.0.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
		http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-4.0.xsd">

	<bean
		class="org.springframework.dao.annotation.PersistenceExceptionTranslationPostProcessor" />

	<!-- <context:property-placeholder location="classpath:sgbd.properties" 
		/> -->

	<!-- <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource"> -->
	<!-- <property name="driverClassName" value="${db.driver}" /> -->
	<!-- <property name="url" value="${db.url}" /> -->
	<!-- <property name="username" value="${db.user}" /> -->
	<!-- <property name="password" value="${db.password}" /> -->
	<!-- </bean> -->

	<jee:jndi-lookup id="dataSource" jndi-name="jdbc/MyDB" />



	<bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
		<property name="entityManagerFactory" ref="entityManagerFactory" />
	</bean>

	<bean id="entityManagerFactory"
		class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
		<property name="packagesToScan" value="fr.training.spring.shop.domain" />
		<property name="dataSource" ref="dataSource" />
		<property name="jpaVendorAdapter">
			<bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter">
				<property name="databasePlatform" value="${db.hibernate.dialect}" />
				<property name="showSql" value="true" />  <!-- system.out SQL -->
				<!-- <property name="generateDdl" value="true" /> -->
			</bean>
		</property>
		<property name="jpaProperties">
			<props>
				<!-- 'create' implies a drop before, and a potential load of import.sql -->
				<!-- <prop key="hibernate.hbm2ddl.auto">create</prop> -->
				<!-- 'update' will just add new tables, or new columns with no DROP before -->
				<!-- and no load of import.sql -->
				<prop key="hibernate.hbm2ddl.auto">${hbm2ddl.auto}</prop>
				<!-- detailed SQL formatted across many lines using a logger -->
				<prop key="hibernate.format_sql">true</prop>
			</props>
		</property>
	</bean>

	<!-- annotations -->
	<tx:annotation-driven />

</beans>